@import url(https://fonts.google.com/specimen/Outfit);


body {
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
    text-align: center;
}
.card {
    width: 19em;
    background-color: white;
    margin: 3em auto;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
}
img {
    width: 100%;
    border-radius: 15px;
}
h2, a {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}
.text {
    width: 90%;
    margin: 0 auto;
}
